body {
    margin: 0;
    list-style: none;
    font-style: none;
    background-color: hsla(0, 51%, 33%, 0.644);
    background-image: url('photo_2025-03-21_18-38-08.jpg'); /* تأكد من أن الصورة موجودة في المسار الصحيح */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* لجعل الخلفية تغطي الصفحة بالكامل */
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

#inputs {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#icons {
    margin: 20px 0;
}

#a, #b, #c {
    margin: 0 10px;
    font-size: larger;
}

#aa, #bb {
    border-radius: 5px;
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#sas1 {
    color: rgb(255, 255, 255);
    border-radius: 9px;
    background-color: #AA1A1C;
    border: solid #AA1A1C;
    width: 110px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

#sas2 {
    color: rgb(139, 139, 139);
    border-radius: 10px;
    background-color: white;
    border: solid white;
    width: 170px;
    height: 35px;
    cursor: pointer;
}

h1 {
    font-size: 60px; /* حجم أصغر للعنوان */
    margin: 0;
    margin-bottom: 20px;
    color: #323232ed; /* لون يتناسب مع التصميم */
}

#sas2:hover {
    background-color: #b3b3b3;
    color: white;
    border: solid #b3b3b3;
}

#sas1:hover {
    background-color: #7d1315;
    border: solid #7d1315;
}
